*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#eb5757;
    --second-color:#222;
    --light-color:#f9f9f9;
    --gera-color:#333;
}
header{
    background-color: var(--primary-color);
    width: 100vw;
    height: 150px;
    position: fixed;
    z-index: 1;

}
body{
    overflow-x: hidden;
}

/* header:first-child{
    flex: 2;
    width: 100%;
    height: 100px;
    
} */
header .covid{   
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--light-color);
    background-color:var(--second-color);
    order: 1;
}
/* header .covid:first-child{
    flex: 2;
    width: 100%;
    height: 50px;
} */
header .covid button{
    position: relative;
    width: 155px;
    height: 35px;
    border-radius: 21px;
    left: -8px;
    font-size: 95%;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    float: left;
    letter-spacing: 1px;



}
header .covid p{
    position: relative;
    font-size: 16px;
    letter-spacing: 1.5px;
    left: -8px;
    
}
header .menu{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light-color);
    padding-left: 180px;

}
/* header .menu:first-child{
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--light-color);
} */

header .menu div{
    display: flex;
    gap: 15px;
    width: 600px;
    height: 45px;
    justify-content: space-around;
    align-items: center;
    color: var(--light-color);
    left: 2px;
}
header .menu span{
    position: relative;
    display: flex;
    left: -320px; 
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 85%;
}
header .menu img{
    position: relative;
    display: flex;
    width: 45px;
    height: 35px;
    left: -170px;
}
/* header.menu img:first-child{
    flex: 2;
    display: flex;
    position: relative;
    top: -50px;
} */
header .menu div a{
    position: relative;
    height: 35px;
    width: 75px;
    padding-top: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--light-color);
    display: inline-block;
    transition:  all 0.8s ease;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 95%;


}
/* header .menu div:first-child{
    height: 40px;
    border-radius: 5px;
    top: -50    px;
} */

header .menu div button{
    position: relative;
    left: -20px;
    width: 45px;
    height: 15px;
    border: none;
    background-color: var(--second-color);
    color: var(--light-color);
    border-radius: 18px;
    top: -4px;

}

header .menu button span{
    position: relative;
    left: 40px;
    top: -12px;
    width: 18px;
    height: 18px;
    border-radius:15PX;
    color: var(--second-color);
    justify-content: center;
    background-color: var(--light-color);
    font-size: smaller;
    align-items: center;
    order: 1;
}
header .menu div a:hover{
    background-color: var(--second-color);
}
header .menu div button{
    width: 55px;
    height: 32px;
    border-radius: 5px; /*ESTO ES PARA QUE SE CREE LA CURBA DE NUESTRO CIRCULO, REDONDEA EL BOTON */
    background-image: url("carrito1.0.PNG");
    background-color: black;
    background-repeat: no-repeat, repeat;
    position: relative;
    background-position:center;
    background-size: 60%; /* ESTO ES PARA QUE SE AJUSTE EL TAMAÑO DE LA IMAGEN DE ACUERDO AL TAMAÑO DEL BOTON */
    justify-content: center;

}
/* main section .sectionBanner:first-child{
    background-color: black;
    background-repeat: no-repeat, repeat;
    position: relative;
    width: 412px;
    height: 350px;
}
main .section1{
    width: 412px;

} */
main section .sectionBanner{
    width: 100vw;
    height: 100vh;
    background-image: url("73486.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover; /* ESTO ES PARA QUE SE AJUSTE EL TAMAÑO DE LA IMAGEN DE ACUERDO AL TAMAÑO DEL BOTON */
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
main section .sectionBanner h1{
    position: absolute;
    display: flex;
    top: 280px; /* parte superior */
    left: 87px; /* parte lateral */
    font-size: 62px;
    color: var(--light-color);
    font-weight: bolder;
}
main section .sectionBanner p{
    position: absolute;
    display: flex;
    color: var(--light-color);
    top: 70%;
    width: 30%;
    height: 18%;
    font-size: 105%;
    left: 90px;
    letter-spacing: 1.3px;
    line-height: 1.8;
}
main section .sectionBanner button{
    position: relative;
    width: 155px;
    height: 35px;
    border-radius: 5px;
    top:  220px;
    font-size: 95%;
    border: solid;
    background-color: rgba(0,0,0,0);
    color: var(--light-color);
    letter-spacing: 1px;
    left: 90px;
    letter-spacing: 2px;
    font-weight: bold;
}
main section .sectionBanner button:hover{
    background-color: var(--light-color);
    color: var(--second-color);
    border: none;
    
}
main section .section2{
    width: 100vh;
    height: 150px;
    left: 90px;
    top: 60px;
    display: flex;
    position: relative;
}
main .section2 .tittleSection{
    display: block;
    width: 90vh;
    height: 200px;
    font-size: 40px;
    line-height: 1.2;
    top: 20px;
    position: absolute;
    color: var(--gera-color);
    font-weight: bolder;

}
main .section2 .section2textoD{
    display: flex;
    width: 90vh;
    position: relative;
    justify-content: center;
    left: 78%;
    top:-7px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}
main .section2 p span{
    display: flex;
    position: relative;
    width: 27vh;
}
main .sectionArt{
    width: 100vw;
    height: 90vh;
    left: 90px;
    display: flex;
    position: relative;
    gap: 55px;
    top: 25px;
}

main .sectionArt .art1{
    width: 40vh;
    height: 348px;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url("circulo.png");
    background-repeat: no-repeat,repeat;
    background-size: 40%;
    background-position: 130% 130%;
    background-color: var(--second-color);
    border-radius: 5px;
}
main .sectionArt .art2{
    width: 40vh;
    height: 348px;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url("triangulo.webp");
    background-repeat: no-repeat,repeat;
    background-size: 55%;
    background-position: 125% 132%;
    background-color: var(--second-color);
}
main .sectionArt .art3{
    width: 40vh;
    height: 348px;
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url("cuadrado.png");
    background-repeat: no-repeat,repeat;
    background-size: 40%;
    background-position: 130% 130%;
    background-color: var(--second-color);
    
}

main .sectionArt div h3{
    display: flex;
    position: relative;
    top: 105px;
}

main .sectionArt span,h3{
    color: var(--light-color);
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100vh;
    height: 150px;
    top: 40px;
    left: -10px;
    font-size: 40px;
    font-weight: bolder;
}
main .sectionArt p{
    display: flex;
    position: relative;
    line-height: 1.5;
    top: 40px;
    letter-spacing: 1px;
    font-size: 95%;
}

main section .sectionBanner2{
    width: 100%;
    height: 680px;
    background-image: url("banner2.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover; /* ESTO ES PARA QUE SE AJUSTE EL TAMAÑO DE LA IMAGEN DE ACUERDO AL TAMAÑO DEL BOTON */
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:right;
}
main section .sectionBanner2 h2{
    position: relative;
    width: 85vh;
    height: 200px;
    display: flex;
    font-size: 40px;
    color: var(--light-color);
    font-weight: bolder;
    float:right;
    justify-content: center;
    align-items: center;
    text-align:right;
    top: -140px;
    left: 725px;
    line-height: 1.3;
    letter-spacing: 2px;

}
main section .sectionBanner2 p{
    position: relative;
    display: flex;
    color: var(--light-color);
    font-size: 105%;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align:right;
    justify-content: center;
    align-items: center;
    float:right;
    width: 30vw;
    top: -20px;
    left: 210px;
    line-height: 1.5;


    
}
main section .sectionBanner2 button{
    position: relative;
    display: flex;
    width: 210px;
    height: 35px;
    border-radius: 5px;
    font-size: 96%;
    border: none;
    background-color: var(--light-color);
    color: var(--second-color);
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    float:right;
    top: 50px;
    left: -100px;
    transition: border-color 300ms ease, background-color 300ms ease;
}
main section .sectionBanner2 button:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
    
}

main .productos2 article img{
    width: 80%;
    height: 500px;
    position: relative;
    top: 100px;
    align-items: center;
    justify-content: center;
    display: inline-block;


} 
main .productos2 article{
    width: 31vw;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
    position: relative;
}
main .productos2 p .Texth2{
    font-size: 40px;
    width: 30vw;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: var(--gera-color);
    top: 20px;
}
main .productos2 article h4{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 30px;
    color: var(--gera-color);
}
main .productos2 article p{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 35px;
    font-size: small;
    font-weight: bold;

}
main .productos2 .texto span{
    display:flex;
    position: relative;
    top: 50px;
    left: 130px;
    width: 40vw;
    height: 50px;

}
main .productos2 article button{
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    color:var(--light-color);
    background-color: var(--primary-color);
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
    align-content: space-between;
    top: 50px;
}
main .productos2 article span button{
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    float: right;
    top:200px;
    background-color: var(--primary-color);
    color: var(--light-color);
    letter-spacing: 1.2px;
}

main .productos2 .dibutton button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    color:var(--light-color);
    background-color: var(--second-color);
    width: 180px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    top: 50%;
    left: 41%;
    letter-spacing: 1.5px;
}

main .sectionfinal{
    width: 68vw;
    height: 95vh;
    background-color: var(--gera-color);
    display: flex;
    position: relative;
    justify-content: center;
    top: 50px;
    left: 24vw;
    border-radius: 10px;
}
main .sectionfinal p{
    width: 28vw;
    font-size: 90%;
    top: 30px;
    left: 80px;
    color: var(--light-color);
    letter-spacing: 1px;
    line-height: 1.8;
    justify-content: center;
    text-align: justify;
    position: relative;
}
main .sectionfinal img{
    width: 26vw;
    height: 35vw;
    display: flex;
    position: absolute;
    left: -200px;
    top: 42px;
    border-radius: 10px;
    object-fit: cover;
}
main .sectionfinal h2{
    color: var(--light-color);
    width: 20vw;
    height: 10vh;
    top: 30px;
    left: 80px;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1.8;
    justify-content: center;
    position: relative;
}
footer{
    width: 98.5vw;
    height: 180px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gera-color);
}
footer span{
    display: flex;
    color: var(--light-color);

}
footer p{
    font-size: 70%;
    top: 140px;
    left: 41%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: absolute;
    color: var(--light-color);
    letter-spacing: 1.5px;
}
footer a{
    color: var(--primary-color);
}
@media screen and (max-width: 412px){
    header .covid{
        height: 100px;
        display: block;
        height: 100%;
        object-fit: cover;
    }
    header{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 13%;
    }

    header .covid button{
        width: 28%;
        height: 35%;
        top: 8px;
        left: 35%;
        border-radius: 4px;
        font-size: small;
    }
    header .covid p{
        width: 100%;
        height: 50px;
        top:30px;
        left: -65px;
        font-size: smaller;
        text-align: center;
    }
    header .covid{
        width: 100vw;
        height: 46%;
    }
    header .menu div{
        position: relative;
        width: 80%;
        left: -100px;
        gap: 3;
    }
    header .menu div a{
        top: 15px;
        gap: 8px;
        font-size: smaller;
    }
    header .menu img{
        position: relative;
        top: 15px;
        left: -135px;
    }
    header .menu span{
        top: -10px;
        left: -180px;
        letter-spacing: 1.5px;
        font-size: small;
        text-align: center;
        position: relative;
    }
    header .menu{
        width: 95%;
        height: 30%;
        position: relative;
        display: flex;
    }
    header .menu div button{
        position: relative;
        top: 15px;
        left: 0;
        width: 115%;
        height: 80%;
        border-radius: 3px;
        background-size: 100%;
    }
    header .menu div button span{
        left: 65%;
        scale: 80%;
        font-size: 120%;
        align-items: center;
        text-align: center;
        justify-content: center;


    }
    main .section1{
        width: 100vw;
        display: flex;
    }
    main .section1 .sectionBanner{
        display: flex;
        position: relative;
        width: 412px;
        height: 40vh;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: top;

    }
    main .section1 .sectionBanner h1{
        font-size: 15px;
        top: 5%;
        left: 22%;
        width: 120%;
        scale: 200%;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    main .section1 .sectionBanner p{
        font-size: 1px;
        letter-spacing: 1.2;
        line-height: 1.5;
        top: 30%;
        left: -25%;
        width: 100%;
        scale: 180%;
        justify-content: center;
        position: relative;
        font-size: 50%;
        text-align:start;
    }
    main .section1 .sectionBanner br{

        display: none;

    }
    .sectionBanner{
        width: 100%;
        height: 30%;
    }
    html,body{
        overflow-x: hidden; 
        height:100%; 
; 
    }
    main .section2 p{
        width: 100%;
        height: 10%;
        top: 100%;
        left:40%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: end;
        font-size: 80%;
    }
    main .section2 h3.tittleSection{
        position: absolute;
        display: block;
        top:150%;
        left: -10%;
        font-size: 20px;
        width: 80vw;
        height: 5vh;
        align-items: center;
        justify-content: center;
        text-align: end;
    }
    main div.section2{
        width: 100vw;
        height: 3vh;
        top: 15%;
        position: relative;
        display: flex;
    }
    main .sectionArt{
        width: 100vw;
        height: 120vh;
        top: -100%;
        left: -8%;
        float:inline-start;
        position: relative;
        display: flow-root;
        justify-content: center;
        align-items: center;

    }
    main .sectionArt article{
        width: 100vw;
        height: 32%;
    }

    main .sectionArt div{
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        scale: 68%;
        left: -5%;
        
    }
    main .sectionArt p{
        width: 80vw;
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-block;
        top:-15%;
        left: 18%;
        text-align: center;
        font-weight:bold;
        letter-spacing: 1px;
    }
    main .sectionArt .art1{
        background-position: 7% 45%;
        background-color: var(--gera-color);    
    }
    main .sectionArt .art2{
        background-position: 3% 38%;
        background-size: 45%; 
        background-color: var(--gera-color); 

    }
    main .sectionArt .art3{
        background-position: 3% 38%;
        background-size: 45%;  
        background-color: var(--gera-color);  
    }
    main .sectionArt div h3{
        top: 10%;
        left: 5%;
    }
    main .sectionArt .art2 h3{
        left: -0%;
    }
    main section .sectionBanner2{
        position: relative;
        display: block;
        width: 100vw;
        height: 25vh;
        top:0%;
        left: 0%;
    }
    main section .sectionBanner2 p{
        position: relative;
        display: block;
        left: 10%;
        top: 0%;
        font-size: 12px;
        width: 80vw;
        float: left;
        align-items:center ;
        text-align: center;
        justify-content: center;
    }
    main section .sectionBanner2 h2{
        position: relative;
        display: flex;
        top: 0%;
        left: 10%;
        width: 80vw;
        height: 10vh;
        font-size: 25px;
        justify-content: center;
        float:none;
        text-align: center;
        align-items: center;
    }
    main section .sectionBanner2 button{
        position: relative;
        display: flex;
        top: 10%;
        left: -20%;
        float:right;
        align-items: center;
        width: 60vw;
        height: 3vh;
    }
    
    main section .texto{
        position: relative;
        display: flex;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 10vh;
    }
    section.productos2{
        width: 100vw;
        height: 160vh;
    }
    main .productos2 .texto span{
        display: flex;
        position: relative;
        TOP: 20%;
        left: 5%;
        align-items: center;
    }  
    main .productos2 p .Texth2{
        display: flex;
        position: relative;
        font-size: 29px;
        width: 70vw;
        height: 6vh;
        top: 15%;
        left: 0%;
        align-items: center;
        justify-content: center;
        text-decoration-line: underline;
        text-decoration-style:double;
        text-decoration-color: var(--primary-color);
    }
    main .productos2 article{
        width: 80vw;
        height: 36vh;
        justify-content: center;
        align-items: center;
        top: 0%;
        left: 10%;
        float: inline-start;
    }
    main .productos2 article img{
        width: 100%;
        height: 25vh;
        top: 0%;
        left: 0%;
    }
    main .productos2 article.tercerart{
        justify-content: center;
        align-items: center;
        justify-content: center;
        top: 0%;
        left: 10%;
    }
    main .productos2 article h4{
        width: 45vw;
        height: 2vh;
        justify-content: center;
        align-items: center;
        justify-content: center;
        top: 0%;
        left: 22%;
    }
    main .productos2 article p{
        width: 45vw;
        height: 2vh;
        justify-content: center;
        align-items: center;
        justify-content: center;
        top: 2%;
        left: 22%;
    }
    main .productos2 article p span{
        text-decoration-line: line-through;
        text-decoration-color: var(--primary-color);
    }
    main .productos2 article button{
        width: 20vw;
        height: 2vh;
        justify-content: center;
        align-items: center;
        justify-content: center;
        top: 7%;
        left: 0%;
    }

    main .productos2 .dibutton button{
        width: 80vw;
        height: 4vh;
        justify-content: center;
        align-items: center;
        justify-content: center;
        top: 0%;
        left: 10%;
        font-size: 20px;
    }
    main .productos2 article span button{
        width: 20vw;
        height: 2vh;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        position: relative;
        top: -65%;
        left: 0%;
    }
    main .sectionfinal{
        width: 100vw;
        height: 60vh;
        top: 0%;
        left: 0%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
    }
    main .sectionfinal div{
        width: 100vw;
        height: 70vh;
        top: 0%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    main .sectionfinal img{
        width: 100%;
        height: 15vh;
        top: -22%;
        left: 24%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .sectionfinal p{
        width: 70vw;
        height: 50vh;
        top: 10%;
        left: -30%;
        font-size: 2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        letter-spacing: .5px;
        scale: 550%;
    }
    main .sectionfinal h2{
        width: 100vw;
        height: 10vh;
        top: -37%;
        left: -15%;
        font-size: 16px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}